<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>indx</title>
</head>
<body>
<form method="post" action="">
    {%csrf_token%}
    <!--
    <input type="hidden" name="access_key" class=""  value="{{user.access_key}}"  >
    <input type="hidden" name="signature" class=""  value="{{user.signature}}"  >
    <input type="hidden" name="salt" class=""  value="{{user.salt}}"  >
    <input type="hidden" name="timestamp" class=""  value="{{user.timestamp}}"  >
    <input type="hidden" name="timestamp" class=""  value="{{user.timestamp}}"  >
    <input type="hidden" name="Content-Type" class=""  value="application\/json"  >
    -->
    <input type="text" name="amount" class="" id="amount"  >
    receipt_email
    <input type="email" name="receipt_email" class="" id="" value="" >




    <button type="submit">submit</button>
</form>
</body>
</html>